
<link href="~/assets/CauHieu/css/introduce.css" rel="stylesheet" />
<main>
    <div class="container">
        <h1>GIỚI THIỆU</h1>
        <p style="margin: 10px 0;"><b>BEAN MỸ PHẨM - </b>Thương hiệu mỹ phẩm của người trẻ hiện đại! Ra đời vào năm 2016, BEAN MỸ PHẨM với sứ mệnh mang lại trải nghiệm skincare khoa học dành cho mọi lứa tuổi và giới tính đều có thể tiếp cận được kiến thức về mỹ phẩm và tự thiết kế cho mình một routine skincare hoàn chỉnh.</p>
        <b>YÊN TÂM MUA HÀNG THẬT</b>
        <p>" ĐỐI VỚI SEUN, SẢN PHẨM THẬT LÀ SẢN PHẨM CHÍNH HÃNG VÀ PHẢI CÓ CHỨNG TỪ, XUẤT XỨ RÕ NGUỒN GỐC VÀ CÓ HÓA ĐƠN CHỨNG NHẬN "</p>
        <img style="margin: 10px 0;" src="~/assets/CauHieu/images/slider_1.jpg" alt="">
        <p>Với BEAN MỸ PHẨM nghiêm túc lựa chọn và kiểm tra nhằm đảm bảo nguồn gốc lẫn chất lượng của mỹ phẩm là cực kỳ quan trọng đối với làn da phái đẹp, bởi sử dụng những sản phẩm làm giả hoặc không rõ nguồn gốc có thể khiến làn da bạn bị tổn hại nghiêm trọng. Vì thế BEAN MỸ PHẨM hợp tác trực tiếp với nhà phân phối chính thức quốc tế và Việt Nam để đảm bảo rằng tất cả những sản phẩm bạn mua tại BEAN MỸ PHẨM đều là hàng chính hãng với đầy đủ hóa đơn chứng từ của công ty.</p>
        <p style="text-align: center; color: #e83e8c; font-style: italic; margin-top: 10px;">HÃY ĐẾN BEAN MỸ PHẨM ĐỂ TRẢI NGHIỆM SỰ KHÁC BIỆT!</p>
    </div>
</main>
