
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout_KhachHang.cshtml";
    decimal tongtien = 0;

}
<style>
    .test{
        padding:20px;
        display:flex;
        justify-content:center; 
        color:plum;
    }
</style>
<h2 class="test" >Cảm ơn bạn đã đặt hàng!! Đơn hàng sẽ sớm được giao đến bạn!! </h2>

